// Estilos genéricos de las diferentes partes concretas, clases específicas, etc.

// ---------- Diseño del header
.contHeader {
  margin: auto;
  text-align: center;
  position: fixed;
  width: 100%;
  background: $vt-master-pattern;
  //max-width: 850px;
}

// ---------- Diseño de los apartados principales que se repiten en todas las secciones
.principal {
  @include border-radius(10px);
  @include box-shadow($vt-box-shadow);
  margin: 20px auto;
  width: 100%;
  max-width: 850px;
  border: 2px solid $vt-class-principal-color;
  padding: $vt-class-principal-padding;
  background: $vt-master-pattern-2;
}

// ---------- Contenedor genérico de cada secciónd e datos --
.datos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// ---------- Separación entre contenedores de class "datos" --
.borde-fin {
  margin-bottom: 30px;
}

.dato-titulo {
  min-width: 16%;
}

// ---------- Color de las etuquetas <p> de los datos de parámetros --
.dato-parametro-color {
  color: $dato-parametro-color;
}

.dato-variable {
  padding-left: 10px;
}

// --------------- Footer ---------------

.autor p {
  font-size: $footer-p-size;
}

// ---------- Ancla para menú navegación cuando header es fixed ----------
.ancla::before {
  display: block;
  content: " ";
  margin-top: -216px;
  height: 216px;
  visibility: hidden;
}

@media (max-width: 900px) {
  .principal {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .datos {
    flex-direction: column;
    align-items: flex-start;
  }

  .dato-titulo {
    text-indent: 40px;
  }

  .contHeader {
    position: relative;
  }

  .ancla::before {
    display: none;
  }
}
