// Estilos genéricos de las diferentes partes concretas, clases específicas, etc.

// ---------- Diseño del header
.contHeader {
  margin: auto;
  text-align: center;
  //position: fixed;
  width: 100%;
  max-width: 850px;
}

// ---------- Diseño de los apartados principales que se repiten en todas las secciones
.principal {
  @include border-radius(10px);
  @include box-shadow(3px 3px 10px #687780);
  margin: 20px auto;
  width: 100%;
  max-width: 850px;
  border: 2px solid $vt-class-principal-color;
  padding: $vt-class-principal-padding;
}

// ---------- Contenedor genérico de cada secciónd e datos --
.datos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// ---------- Separación entre contenedores de class "datos" --
.borde-fin {
  margin-bottom: 30px;
}

.dato-titulo {
  min-width: 16%;
}

// ---------- Color de las etuquetas <p> de los datos de parámetros --
.dato-parametro-color {
  color: $dato-parametro-color;
}

.dato-variable {
  padding-left: 10px;
}

// --------------- Footer ---------------

.autor p {
  font-size: $footer-p-size;
}
