// Configuración de H1 - H6, enlaces a, p, etc.  y etiquetas sin
// denominación específica. No class, no ID. 
h1 {
  font-size: $h1-size;
  margin-top: 20px;
  margin-bottom: 10px;
  color: $h1-h2-color;
}

h2 {
  font-size: $h2-size;
  color: $h1-h2-color;
  margin-top: 26px;
}

h3 {
  font-size: $h3-size;
  text-indent: 16px;
  margin-bottom: 22px;
}

p {
  font-size: $vt-font-size;
  line-height: $vt-line-height;
}

nav {
  & ul {
    list-style: none;
    padding: 0;

    & li {
      display: inline-block;
      vertical-align: middle;
      padding: 8px 20px;
      margin: 10px 12px;
      color: #666;

      & a { text-decoration: none; }
    }
  }
}

i {
  margin-right: 12px;
}

abbr {
  cursor: alias;
}

footer {
  text-align: center;
  margin-top: 25px;
  padding-top: 18px;
  padding-bottom: 15px;
  background: #434343;
  color: white;
  width: 100%;
}
