// Estilos generales, tamaño caja, etc.

* {
  margin: 0;
  padding: 0;
}
  
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  
body {
  font-family: $font-family-serif;
  background-color: $vt-master;
  color: $vt-letra;
  margin-top: 40px;
}
